*{
    margin: 0;
    padding: 0;
}
body{
    font-family: verdana;
}
header,footer{
    position: absolute;
    width: 100%;
    color: white;
}
header{
    background-color: #7289da;
    height: 20vh;
}
header h1{
    position: absolute;
    margin-top: 50px;
    left: 10%;
}
footer{
    background-color: #282b30;
    height: 10vh;
    bottom:0;
}
footer h2{
    position: absolute;
    left: 45%;
    top: 15 px;
}
.navigation{
    positon: absolute;
    width:100%;
}
.navigation a{
    position: relative;
    left:65%;
    top: 50px;
    color: white;
    text-decoration: none;
    margin-right: 50px;
}